# binários gerados
/protoncommand
/protoncommand-*
/dist/

# diretórios de build
/AppDir
/build/

# ícones temporários
*.AppImage
*.deb
*.rpm

# sistema
.DS_Store
/appimagetool
/protonbox

# cobertura de testes
coverage.out
*.coverprofile
