[Desktop Entry]
Type=Application
Name=Proton Command
Comment=Gerencie e combine comandos úteis do Proton
Comment[en]=Manage and combine useful Proton launch commands
Exec=protoncommand
Icon=protoncommand
Terminal=false
Categories=Game;Utility;
StartupNotify=true
Keywords=proton;steam;wine;gaming;jogos;
Keywords[pt_BR]=proton;steam;wine;jogos;desempenho;
StartupWMClass=ProtonCommand
